.mat-elevation-z8 {
  min-width: 50%;
}

th.mat-sort-header-sorted {
  color: black
}

.menu-form {
  min-width: 150px;
  max-width: 430px;
  width: 100%;
  padding-top: 20px;
}

.example-full-width {
  width: 100%;
}

mat-progress-bar {
  width: 60%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}