<div>

  <form #formValues class="menu-form" [formGroup]="userForm">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input #name formControlName="userName" matInput placeholder="Ex. Jon">
      <mat-error *ngIf="userError('userName', 'required')">Name is required</mat-error>
      <mat-error *ngIf="userError('userName', 'maxlength')">Limit exceed</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Birth date</mat-label>
      <input #birth formControlName="userBirth" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="userError('userBirth', 'required')">Birth date is required</mat-error>
      <mat-error *ngIf="userError('userBirth', 'maxlength')">Limit exceed</mat-error>
    </mat-form-field><br><br>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input #email formControlName="userEmail" matInput placeholder="Ex. Jon@gmail.com">
      <mat-error *ngIf="userError('userEmail', 'required')">Email is required</mat-error>
      <mat-error *ngIf="userError('userEmail', 'maxlength')">Limit exceed</mat-error>
      <mat-error *ngIf="userError('userEmail', 'email')">Incorrect email type</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select #gender formControlName="userGender">
        <mat-option value="male">male</mat-option>
        <mat-option value="female">female</mat-option>
      </mat-select>
      <mat-error *ngIf="userError('userGender', 'required')">Gender is required</mat-error>
      <mat-error *ngIf="userError('userGender', 'maxlength')">Limit exceed</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select #status formControlName="userStatus">
        <mat-option value="active">active</mat-option>
        <mat-option value="inactive">inactive</mat-option>
      </mat-select>
      <mat-error *ngIf="userError('userStatus', 'required')">Status is required</mat-error>
      <mat-error *ngIf="userError('userStatus', 'maxlength')">Limit exceed</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea #comment formControlName="userComment" matInput placeholder="Ex. It makes me feel..."></textarea>
      <mat-error *ngIf="userError('userComment', 'maxlength')">Limit exceed</mat-error>
    </mat-form-field>
  </form>

  <button #add mat-raised-button
    (click)="addUser(name.value, birth.value, email.value, gender.value, status.value, comment.value)">Add</button>
  <button #update mat-raised-button disabled="true"
    (click)="updateUser(updateId, name.value, birth.value, email.value, gender.value, status.value, comment.value)">Update</button>
  <button #cancel mat-raised-button disabled="true" (click)="cancelFields()">Cancel</button>

</div>

<br>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
<br>

<div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Number
      </th>
      <td mat-cell *matCellDef="let element">{{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="birth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by birth">
        Birth date
      </th>
      <td mat-cell *matCellDef="let element"> {{element.birth | date :'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
        Email
      </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender">
        Gender
      </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
        Status
      </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by comment">
        Comment
      </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by update">
        Update time
      </th>
      <td mat-cell *matCellDef="let element"> {{element.update | date:'mediumTime' }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by action">
        Action
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="removeUser(element.id)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="readUser(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>